body {
    background-color: azure;
}

.urgent {
    background-color: yellow;
}

form {
    display: flex;
    flex-direction: column;
}

#add-button {
    width: 130px;
    margin-top: 10px;
}

h1, h2{
    text-align: center;
}